::selection {
  background-color:#00E676;
  color: #fff;
}
::-moz-selection {
  background-color:#00E676;
  color: #fff;
}



.theme-color {
  color:#00E676;
}


.theme-after-bg:after,
.btn-theme,
.theme-bg {
  background:#00E676;
}


.btn-theme {
  border-color:#00E676;
}

.portfolio-hover-01 .action-btn a:hover,
.portfolio-filter li:hover, 
.portfolio-filter li.active,
.owl-dots .owl-dot.active,
.m-btn-theme, 
.title-section h2:after,
.m-btn-white:hover,
.theme-after:after,
.theme-g-bg{
	background: #00E676;
	background: -webkit-linear-gradient(to right, #00E676, #00E676);
	background: linear-gradient(to right, #00E676, #00E676);
}


/*Reverce*/
.m-btn-theme:hover{
	background: #0072ff;
	background: -webkit-linear-gradient(to right, #00E676, #00E676);
	background: linear-gradient(to right, #00E676, #00E676);
}

.home-banner .avtar-img,
.m-btn-theme:hover,
.m-btn-white:hover {
  box-shadow: 0px 15px 20px rgba(5, 117, 230, 0.4);
}

@media (max-width: 991px){
  .header {
    background:#00E676;
  }
}

	

